body{
    background-color: aliceblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora{
    padding: 30px;
    border-radius: 15px;
}

.calculadora form input{
    border: 0;
    outline: 0;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
    color: blue;
}

form .display{
    display: flex;
    justify-content: center;
    margin: 40px;
    background-color: aliceblue;
}
form .display input{
    text-align: center;
    flex: 1;
    font-size: 20px;
    box-shadow: none;
    background-color: lightblue;
}

